<navbar class="navbar">
  <div class="navbar-title-container">
    <img class="navbar-image" src="/assets/giphy-logo.svg">
  <p class="navbar-title">
    GIPHY<span>_office</span>
  </p>
  </div>
  <div>
    <i class="fa fa-search"></i>
    <input class="search-input" type="text">
  </div>
</navbar>